body {
}

.phi-view-links-cont {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.phi-view-links {
  text-decoration: none;
  font-weight: bold;
  color: #294c60;
}

.phi-detail {
  width: 80%;
  height: 100vh;
  background: #ffefd3;
  margin: 30px auto;
}

.phi-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: start;
  margin-left: 25px;
  color: #294c60;
}
